body, html {
    margin: 0;
    padding: 0;
}

.bar {
    height: 100px;
    width: 800px;
    border-radius: 50px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.progress {
    height: 100%;
    border-radius: 50px;
    background-color: rgb(34, 161, 196);
    animation: progressAnimation 2s ease-in-out infinite alternate; 
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes progressAnimation {
from { 
    width: 0%;
}

    to {
        width: 100%;
    }
}

span {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    position: absolute;
}
