html, body {
    margin: 0;
}

main {
    display: grid;
    height: 100dvh;
    width: 100dvw;
    gap: 5px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-box {
    background-color: blue;
}

.green-box {
    background-color: green;
}

.red-box {
    background-color: red;
}

.white-circle {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    opacity: 50%;
}

.mobile{
grid-template-rows: repeat(12, 1fr) / 1fr;
}

.desktop{
    grid-template: 20px 50px 50px 20px
                    20px 50px 50px 20px;
}

.tablet{
    grid-template: 1fr 1fr 1fr
        50px 50px 50px 50px; 
}

@media screen and (min-width: 769px) {
    body {
        grid-template: 20px 50px 50px 20px
        20px 50px 50px 20px;    
    }

}

@media  screen and (min-width: 1441) { 
    
    body { 
        grid-template: 1fr 1fr 1fr
        50px 50px 50px 50px;  

}

}
